---
import type { CvCertificate } from '../../types';

interface Props {
  certificate: CvCertificate;
}
const { certificate } = Astro.props;
---
<a href={certificate.url} target="_blank">{certificate.issuer} - <span class="font-normal">{certificate.name}</span></a>
