---
import IconText from '../IconText.astro';

import websites from '../../data/websites.json';

interface Props {
  site: string;
}
const { site } = Astro.props;

const icons = {
  'dev': 'skill-icons:devto-dark',
  'huggingface': 'logos:hugging-face-icon',
  'microsoft-learn': 'logos:microsoft-icon',
  'nuget': 'devicon:nuget',
  'salesforce-trailblazer': 'logos:salesforce'
};
---
<div>
  <a href={websites[site].url} target="_blank"><IconText name={icons[site] ?? `logos:${site}-icon`}><span class="font-normal">{websites[site].username}</span></IconText></a>
</div>
