---
import IconText from '../IconText.astro';
import type { CvLanguage } from '../../types';

const languageIcons: Record<string, string> = {
  'fre': 'fr',
  'eng': 'gb-ukm'
}
interface Props {
  language: CvLanguage;
}
const { language } = Astro.props;
---
<IconText name={`flagpack:${languageIcons[language.code]}`}><span class="font-normal">{language.language}</span> ({language.fluency.toLocaleLowerCase('en-US')})</IconText>
