---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';

interface Props extends HTMLAttributes<'span'> {
  name: string;
}

const { name, ...props } = Astro.props;
---

<span {...props}><span class="whitespace-nowrap"><span class="mx-[1px] inline-block align-[-3px]"><Icon name={name} /></span><span class="ml-[2px] inline-block align-baseline whitespace-normal"><slot /></span></span></span>
